NAME=sqitch
TITLE=Sqitch
VERSION=1.5.0
IMAGE=sqitch/sqitch
DESCRIPTION="Sensible database change management"
VENDOR="The Sqitch Community"
AUTHORS="Sqitch Hackers <sqitch-hackers@googlegroups.com>"
URL=https://hub.docker.com/r/sqitch/sqitch/
DOCS="https://github.com/sqitchers/docker-sqitch#readme"
SOURCE=https://github.com/sqitchers/docker-sqitch
LICENSE=MIT
