name: CI/CD
on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']
  schedule:
    - cron: '0 10 25 * *' # Monthly at 10am on the 25th
jobs:
  build:
    name: Build and Push to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Build the Image
        run: ./build
      - name: Log in to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Push the Image
        if: github.ref == 'refs/heads/v0.9998' && github.event_name != 'pull_request'
        run: docker push sqitch/sqitch
